## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## PROJECT::GENERAL
coverage
rdoc
pkg
*.gem
.bundle
Gemfile.lock

## PROJECT::SPECIFIC
dist

## IntelliJ IDEA
.idea/*
.idea/*.xml
*.ipr
*.iml
*.iws
