.big-text {
    font-size: 24px;
	line-height:30px;
    margin: 25px;
}

h1{
	font-size: 3.25em;
	color: #8B0000;	
}
/*
.content > ul {
	font-size: 2em;
}*/
.bullets ul {
    text-align: justify;
    margin-left: 20px;
}

.bullets ul li {
    padding: 15px; /*text-align:justify;*/
}

.subsection h1 {
    background:  #8B0000;
    color: #fff;	
}

.code{
    font-size: 1.4em;
    margin-left:15px;
}

.content pre {
    font-size: 2em;
    font-family: monospace;
}